<a href="https://colab.research.google.com/github/Shreyabansal3112/logistic-regression/blob/main/logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mp

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from sklearn import linear_model
from sklearn import svm

from sklearn.metrics import accuracy_score

from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import files
up=files.upload()

Saving iris.csv to iris (1).csv

In [ ]:
data= pd.read_csv('iris (1).csv')
data.head()

   Unnamed: 5  sepal.length  sepal.width  petal.length  petal.width variety
0           1           5.1          3.5           1.4          0.2  Setosa
1           2           4.9          3.0           1.4          0.2  Setosa
2           3           4.7          3.2           1.3          0.2  Setosa
3           4           4.6          3.1           1.5          0.2  Setosa
4           5           5.0          3.6           1.4          0.2  Setosa

In [ ]:
data.drop('Unnamed: 5', axis=1, inplace=True)

In [ ]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
data.isnull()

     sepal.length  sepal.width  petal.length  petal.width  variety
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
data.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
x= data.drop('variety',axis=1)
y=data.variety

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4, random_state=42)

In [ ]:
lr= linear_model.LogisticRegression() #sv= svm.SVC()

In [ ]:
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred= lr.predict(x_test)

In [ ]:
accuracy_score(y_test,y_pred)

1.0

In [ ]:
test= np.array([1,2,3,4]).reshape(1,-1)

In [ ]:
lr.predict(test)

array(['Virginica'], dtype=object)